/* import font style */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


/* Color variables */
:root {
    --clr-button: #08d9d6;
    --clr-section: #252a34;
    --clr-font: #ff2e63;
    --clr-white: #eaeaea;
}

/* reset page */
*,::after,::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
html , body {
    font-family: 'Roboto', sans-serif;
}
ul {
list-style: none;
}
a {
text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
    margin-bottom: 1.25rem;
    line-height: 1.5;
    color: var(--clr-section);
  }
  
/* Utility Class */
.container {
    max-width: 80%;
    margin: auto;
}
.bg-dark {
    background-color: var(--clr-section);
    color: #fff;
}
.bg-light {
    background-color: var(--clr-white);
    color: var(--clr-section);
}
.bg-primary {
    background-color: var(--clr-button);
    color: #fff;
}
.text-primary {
    color: var(--clr-font);
}
.text-center {
    text-align: center;
}
l-heading {
    font-size: 3rem;
    text-transform: uppercase;
}
.m-heading {
    font-size: 2rem;

}
.py-1 {
    padding: 1.5rem 0;
}
.p-1 {
    padding: 1.5rem;
}
.btn {
    background-color: var(--clr-button);
    color: #fff;
    padding: 0.8rem 1.5rem;
    border-radius: 5px;
}
.btn-dark {
    background-color: var(--clr-section);
    color: #fff;
    width: 100%;

}
.btn:hover {
    background-color: var(--clr-font);
}
.box-shadow {
   box-shadow: 0 0 2px #252a34; 
}
.lead {
    font-size: 1.4rem;
    color: #fff;
}

/* navBar Section */
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 1;
}
#navbar .logo img {
    width: 80px;
}
#navbar ul {
    list-style: none;
    display: flex;
}
#navbar ul li a {
    color: #fff;
    padding: 1rem;
    font-size: 1rem;
}
#navbar ul li a:hover {
    background-color: var(--clr-button);
    border-radius: 5px;
    color: #ff2e63;
}
/* Section ShowCase */
#showcase {
    width: 100%;
    height: 100vh;
    background: var(--clr-section) url(../img/showcase.jpg) no-repeat center/cover;
    color: #fff;
}
#showcase .showcase-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}
/* Section About */
#about .about-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1.5rem;
}
#about .about-content div,
#about .about-content img {
    flex: 1;
}
#about .about-content img {
    width: 50%;
    margin-left: 1rem;
    border: 2px solid #fff;
}
#about .about-content img:hover {
    opacity: 0.6;
}

/* CTA Section */
#cta {
    background: var(--clr-section) url(../img/cta.jpg) no-repeat bottom/cover;
    color: #fff;
}
#cta .cta-content {
    height: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);

}
#programs {
    color: #252a34;
}
#programs .boxes {
    display: flex;
    justify-content: center;
    align-items: center;
}
#programs .boxes .box {
    flex: 1;
    padding: 1rem;
}
#programs .boxes .box img {
    width: 70px;
    background-color: #08d9d6;
    padding: 0.5rem;
    border-radius: 100%;
}
/* Trainers Section */
#trainers .trainers-boxes{
    display: flex;
}
#trainers .trainers-boxes .trainer-box {
    background-color: #fff;
    border-radius: 5px;
    flex: 1;
    margin: 10px;
}
#trainers .trainers-boxes .trainer-box img {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}
#trainers .trainers-boxes .trainer-box img:hover{
    opacity: 0.6;
}
#trainers .trainers-boxes .trainer-box ul {
    display: flex;
}
#trainers .trainers-boxes .trainer-box ul li a {
    color: #252a34;
    margin-right: 10px;
}
#trainers .trainers-boxes .trainer-box ul li a:hover {
    color: #ff2e63;
}
/* Contact Section */
#contact {
    display: flex;
}
#contact .contact-us , #contact .map {
    flex: 1;
}
#contact .contact-us input , #contact .contact-us textarea{
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 0.75rem;
    border: none;
    border-radius: 5px;
    outline: none;

}
#contact .contact-us .form-group {
    display: flex;
}
#contact .contact-us .form-group input[type="text"] {
    margin-right: 10px;
}
#contact .map img {
width: 100%;
height: 100%;
}